.gradle
build/

# Ignore Gradle GUI config
gradle-app.setting

# Avoid ignoring Gradle wrapper jar file (.jar files are usually ignored)
!gradle-wrapper.jar

# Eclipse
.classpath
.project
.settings/

# Intellij
.idea/
*.iml
*.iws
*.ipr

# Mac
.DS_Store

# Maven
log/
target/

*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

out

#SBT
# sbt specific
.cache
.history
.lib/
dist/*
*/target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/
build

#This file contains passwords, etc. and should not be in the repository
build.properties

#Unit-test dbs
*.db

#Logs
*.log
/api/.idea/
!/kafka/src/main/scala/hydra/kafka/endpoints/StreamingTopicsEndpoint.scala

# dot-env
.env

#ensime http://ensime.github.io/
.ensime
.ensime_cache
